$color-primary: #011627;
$color-secondary: #37adf1;
$color-tertiary: #f6f7f8;
$color-quarter: #fff;
$color-fifth: #e9f2f8;

$breakpoints: (
  xs: 480px,
  sm: 576px,
  md: 768px,
  lg: 900px,
  xl: 1100px,
  xxl: 1400px,
);
