.card {
  max-width: 1300px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  margin: 0 auto;
  justify-items: center;
  gap: 20px;
  &__container {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba($color: black, $alpha: 0.1);
    border-radius: 10px;
    background-color: $color-fifth;
    margin: 0 5px;
    max-width: 330px;
    padding-bottom: 10px;
    overflow: hidden;
  }
  &__image {
    width: 100%;
    height: 170px;
    object-fit: cover;
  }
  &__containerInfo {
    margin: 0 12px;
  }
  &__skillsContainer {
    display: flex;
    margin: 5px 0;
    flex-wrap: wrap;
  }
  &__skills {
    font-size: 12px;
    font-weight: bold;
    margin: 2px 5px;
    background-color: $color-primary;
    color: $color-tertiary;
    padding: 3px 12px;
    display: flex;
    align-items: center;
    border-radius: 200px;
    letter-spacing: 1px;
  }
  &__title {
    margin: 0;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
  }
  &__description {
    margin: 10px 0;
    padding: 0 5px;
    color: rgba($color: black, $alpha: 0.7);
    line-height: 25px;
    font-size: 16px;
    font-weight: 400;
    overflow: hidden;
  }
  &__linksContainer {
    display: flex;
    justify-content: space-around;
    margin-top: auto;
  }
  &__link {
    text-decoration: none;
    background-color: $color-primary;
    color: $color-tertiary;
    border-radius: 10px;
    padding: 5px 40px;
  }
  &__link:active {
    background-color: rgba($color-primary, 0.7);
    transform: scale(0.9);
  }
}

@include breakpoint(lg) {
  .card {
    gap: 25px;
    row-gap: 30px;
  }
}
