.card {
  max-width: 920px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-end;
  justify-content: center;
  &__container {
    border: 1px solid rgba($color: black, $alpha: 0.1);
    border-radius: 10px;
    background-color: $color-fifth;
    margin: 0 5px;
    max-width: 300px;
    padding-bottom: 10px;
  }
  &__image {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 10px;
  }
  &__skillsContainer {
    display: flex;
    margin: 5px 0;
  }
  &__skills {
    font-size: 12px;
    font-weight: bold;
    margin: 0 5px;
    background-color: $color-secondary;
    color: $color-tertiary;
    padding: 2px 5px;
    display: flex;
    align-items: center;
    border-radius: 10px;
  }
  &__title {
    margin: 0;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
  }
  &__description {
    margin: 10px 0;
    padding: 0 5px;
    color: rgba($color: black, $alpha: 0.7);
    line-height: 25px;
    font-size: 16px;
    font-weight: 400;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }
  &__linksContainer {
    display: flex;
    justify-content: space-around;
  }
  &__link {
    text-decoration: none;
    background-color: $color-primary;
    color: $color-tertiary;
    border-radius: 10px;
    padding: 5px 40px;
  }
  &__link:active {
    background-color: rgba($color-primary, 0.7);
    transform: scale(0.9);
  }
}
.prueba {
  opacity: 0;
}
@include breakpoint(lg) {
  .card {
    justify-content: space-around;
    gap: 60px;
  }
}
