.menuDropDawn {
  top: 100px;
  left: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  background-color: $color-primary;
  transition: 0.5s all;
  z-index: 1000;
  &__disabled {
    top: 100px;
    left: -100%;
    height: 150vw;
    position: absolute;
    display: flex;
    width: 100%;
    transition: 0.5s all;
  }
  &__list {
    list-style: none;
  }
  &__item {
    margin: 40px 0;
  }
  &__link {
    color: $color-quarter;
    font-size: 30px;
    font-weight: 300;
    text-decoration: none;
  }
}
@include breakpoint(xs) {
  .menuDropDawn {
    &__link {
      font-size: 40px;
    }
  }
}

@include breakpoint(sm) {
  .menuDropDawn {
    &__link {
      font-size: 40px;
    }
  }
}

@include breakpoint(md) {
  .menuDropDawn {
    display: none;
  }
}
