.menuDropDawn {
  top: 100%;
  left: 0;
  height: 150vw;
  width: 100%;
  position: absolute;
  display: flex;
  background-color: $color-primary;
  transition: 0.5s all;
  &__disabled {
    top: 100%;
    left: -100%;
    height: 150vw;
    position: absolute;
    display: flex;
    width: 100%;
    transition: 0.5s all;
  }
  &__list {
    list-style: none;
  }
  &__item {
    margin: 20px 0;
  }
  &__link {
    color: $color-quarter;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
  }
}
