.footer {
  background-color: $color-primary;
}
.footer__linksContainer {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__links {
  background: $color-tertiary;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  margin: 0 10px;
}
.footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__close {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}
.close {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba($color: white, $alpha: 0.3);
}
.close__container {
  display: flex;
  align-items: center;
}
