.header {
  background-color: $color-primary;
  position: fixed;
  z-index: 3;
  top: 0;
  height: 100px;
  width: 100%;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
    padding: 1rem 1.5rem;
    margin: 0 auto;
  }
}
.logo {
  display: flex;
  align-items: center;
  color: $color-secondary;
  user-select: none;
  &__container {
    font-size: 24px;
    display: flex;
    align-items: center;
  }
  &__center {
    font-weight: bold;
    font-size: 40px;
  }
}
.navbar {
  display: none;
}
.list__container {
  display: flex;
  align-items: center;
}
@include breakpoint(md) {
  .navbar {
    display: flex;
    &__list {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;
    }
    &__item {
      margin: 0 10px;
      padding: 5px 0;
    }
    &__link {
      text-decoration: none;
      color: $color-tertiary;
      font-weight: 300;
      font-size: 16px;
    }
  }
  .list__container {
    display: none;
  }
  .active {
    transition: 0.5s background-color linear;
    padding: 2px 12px;
    border-radius: 20px;
    background-color: $color-secondary;
    height: 100%;
    width: 100%;
  }
  .angleBrackets {
    width: 2.5rem;
    height: 2.5rem;
  }
  .logo__center {
    font-size: 40px;
  }
  .logo__forwardSlash {
    font-size: 40px;
  }
  .navbar__link {
    font-size: 23px;
  }
}
@include breakpoint(lg) {
  .navbar {
    &__item {
      margin: 0 16px;
    }
  }
}
