.hero {
  padding-top: 130px;
  background-color: $color-primary;
  min-height: calc(100vh - 130px);
  height: 100%;
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  &__descriptionContainer {
    height: 100%;
    backdrop-filter: blur(15px);
    filter: drop-shadow(0 4px 4px 0);
    background-color: rgba($color: $color-quarter, $alpha: 0.3);
    padding: 15px 20px;
    border-radius: 20px;
    animation: upDown 3s infinite;
  }
  &__greeting {
    font-size: 20px;
    font-weight: bold;
    color: $color-quarter;
    line-height: 25px;
    margin: 0;
  }
  &__name {
    font-size: 28px;
    font-weight: bold;
    color: $color-secondary;
    margin: 0;
    margin-left: -3px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 15px 0;
  }
  &__workPosition {
    font-size: 15px;
    font-weight: 300;
    color: $color-quarter;
    padding-top: 5px;
    margin: 0;
  }
  &__imageContainer {
    width: 320px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
  }
  &__image {
    width: 200px;
    filter: brightness(0.9);
  }
  &__containerRight {
    display: flex;
    justify-content: center;
    padding: 40px 6px;
  }
  &__skill {
    width: 40px;
    position: absolute;
  }
  &__contactList {
    padding: 46px 0;
    margin: 0;
    display: flex;
    justify-content: center;
    list-style: none;
  }
  &__contactItem {
    margin: 0 24px;
  }
  &__skillAndProyects {
    display: none;
  }
}
.SASS {
  top: 50%;
  right: 10%;
}
.VUE {
  top: 50%;
  left: 10%;
}
.REACT {
  top: 20%;
  right: 10%;
}
.JAVASCRIPT {
  top: 20%;
  left: 20%;
}
.curriculum {
  width: 40px;
  height: 40px;
  background-color: #75bfe9;
  position: fixed;
  z-index: 100;
  border: 1px solid $color-secondary;
  bottom: 20px;
  left: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 300ms linear;
  cursor: pointer;
  &:hover {
    background-color: #00a2fff2;
    transition: 300ms linear;
  }
}
@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}

.cvIcon {
  height: 20px;
  width: 20px;
}
@include breakpoint(sm) {
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    &__container {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
    }
    &__containerLeft {
      width: 100%;
      order: 1;
    }
    &__containerRight {
      width: 100%;
      flex-direction: column;
      order: 2;
    }
    &__skillAndProyects {
      display: block;
    }
    &__containerSkill {
      display: none;
    }
    &__skillRight {
      width: 40px;
      height: 40px;
      object-fit: contain;
      margin: 0 10px;
    }
    &__proyect {
      width: 100px;
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 100px;
      padding: 10px;
    }
    &__proyectsContainer {
      display: flex;
      margin-left: 0px;
    }
    &__proyectImage {
      width: 180px;
      object-fit: cover;
      border-radius: 20px;
      background-color: #24282f;
      box-shadow: 2px 2px rgba(black, 0.2);
      padding: 25px 35px;
      transition: 300ms linear;
      &:hover {
        transition: 300ms linear;
        transform: scale(1.05);
      }
    }
  }
  .skill__container {
    display: flex;
  }
  .skill__title,
  .hero__proyectsTitle {
    color: rgba($color-tertiary, 0.5);
    text-shadow: 2px 2px black;
  }
}

@include breakpoint(md) {
  .hero__containerLeft {
    margin-right: 30px;
  }
  .hero__image {
    width: 270px;
  }
  .email,
  .github,
  .linkedin {
    height: 40px;
    width: 40px;
  }
  .hero__greeting {
    font-size: 25px;
    margin-bottom: 5px;
  }
  .hero__name {
    font-size: 40px;
    margin-bottom: 5px;
  }
  .hero__workPosition {
    font-size: 16px;
    padding: 0;
  }
  .hero__descriptionContainer {
    max-width: 350px;
    padding: 20px 30px;
  }
  .hero__greeting {
    margin-bottom: 15px;
    line-height: 30px;
  }
  .hero__skillRight {
    height: 70px;
    width: 70px;
  }
  .hero__proyect {
    height: 110px;
    width: 170px;
  }
  .hero__proyectImage {
    width: 140px;
  }
  .curriculum {
    height: 50px;
    width: 50px;
  }
  .cvIcon {
    height: 20px;
    width: 20px;
  }
  .skill__title,
  .hero__proyectsTitle {
    font-size: 30px;
  }
}

@include breakpoint(xl) {
  .hero {
    &__proyect {
      width: 200px;
      height: 120px;
    }
    &__proyectImage {
      width: 200px;
    }
  }
  .hero {
    &__container {
      min-width: 1300px;
      justify-content: space-between;
    }
  }
  .email,
  .github,
  .linkedin {
    height: 55px;
    width: 55px;
  }
  .curriculum {
    left: 50px;
  }
}

@include breakpoint(xxl) {
  .hero__image {
    width: 320px;
  }

  .curriculum {
    left: 150px;
  }
}
