.hero {
  background-color: $color-primary;
  height: calc(100vh - 57px);
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__descriptionContainer {
    width: 250px;
    max-height: 74px;
    height: 100%;
    backdrop-filter: blur(15px);
    filter: drop-shadow(0 4px 4px 0);
    background-color: rgba($color: $color-quarter, $alpha: 0.3);
    padding: 10px 10px;
    border-radius: 20px;
  }
  &__greeting {
    font-size: 18px;
    font-weight: bold;
    color: $color-quarter;
    line-height: 25px;
  }
  &__name {
    font-size: 28px;
    font-weight: bold;
    color: $color-secondary;
  }
  &__workPosition {
    font-size: 12px;
    font-weight: 300;
    color: $color-quarter;
    padding-top: 5px;
  }
  &__imageContainer {
    width: 320px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
  }
  &__image {
    width: 180px;
    filter: brightness(0.9);
  }
  &__skill {
    width: 40px;
    position: absolute;
  }
  &__contactList {
    padding: 32px 0;
    margin: 0;
    display: flex;
    justify-content: center;
    list-style: none;
  }
  &__contactItem {
    margin: 0 16px;
  }
  &__skillAndProyects {
    display: none;
  }
}
.hero__greeting,
.hero__name,
.hero__workPosition {
  margin: 0;
  padding: 0;
}
.SASS {
  top: 50%;
  right: 10%;
}
.BOOTSTRAP {
  top: 50%;
  left: 10%;
}
.REACT {
  top: 20%;
  right: 10%;
}
.JAVASCRIPT {
  top: 20%;
  left: 20%;
}
.curriculum {
  width: 30px;
  height: 30px;
  background-color: $color-fifth;
  position: fixed;
  bottom: 20px;
  left: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@include breakpoint(sm) {
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    &__container {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
    }
    &__containerLeft {
      order: 1;
    }
    &__containerRight {
      order: 2;
    }
    &__skillAndProyects {
      display: block;
    }
    &__containerSkill {
      display: none;
    }
    &__skillRight {
      width: 40px;
      height: 40px;
      object-fit: contain;
      margin: 0 10px;
    }
    &__proyect {
      width: 100px;
      height: 70px;
      background-color: #24282f;
      margin: 0 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      box-shadow: 2px 2px rgba(black, 0.2);
    }
    &__proyectsContainer {
      display: flex;
    }
    &__proyectImage {
      width: 80px;
      object-fit: cover;
    }
  }
  .skill__container {
    display: flex;
  }
  .skill__title,
  .hero__proyectsTitle {
    color: rgba($color-tertiary, 0.5);
    text-shadow: 2px 2px black;
    // color: black;
  }
}
@include breakpoint(md) {
  .hero {
    &__proyect {
      width: 200px;
      height: 120px;
    }
    &__proyectImage {
      width: 160px;
    }
  }
}
@include breakpoint(xl) {
  .hero {
    &__container {
      min-width: 1100px;
      justify-content: space-around;
    }
    &__image {
      width: 200px;
    }
    &__descriptionContainer {
      width: 300px;
    }
    &__containerRight {
      min-width: 400px;
    }
  }
  .curriculum {
    left: 150px;
    cursor: pointer;
  }
}
