.main {
  background-color: $color-tertiary;
  padding: 20px 0;
  &__skills {
    height: 30px;
    cursor: pointer;
  }
  &__title {
    @include title;
  }
  &__containerSkills {
    max-width: 920px;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  &__proyects {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__titleProyects {
    @include title;
  }
  &__container {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
